html, body {
}

html {
    background-color: #77BB77;
}

#top-bar {
    height: 100px;
    text-align: center;
    border-bottom: 1px solid black;
    background-color: #77BB77;
}

#run-form {
    height: 550px; 
}

input {
    border: 1px solid grey;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    width: 49%;
    margin-bottom: 30px;
}

.row {
    width:100%;
    padding: 10px;
}

#code-bit {
    height: 100%;
    border-bottom: 1px solid black;
}

#editor {
    height: 550px;
    padding-left: 5%;
    background-color: #FFF;
    border-right: 1px dashed black;
}

@media only screen and (max-width: 782px) {
    #editor {
        border: none;
    }
}


#t-editor {
    border: 1px solid black;
    width: 98%;
    height: 350px;
}

#output {
    background-color: #FFF;
}

#footer {
    padding: 10px;
    text-align: center;
    background-color: #77BB77;
}
